.App {
  text-align: center;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


body{
  background-color: #710000;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  color: #161925;
  font-family: "Sedan", serif;
}

header{
  background-color: #f2dfbf;
  border-radius: 20px;
}

header h1{
  padding: 10px 10px 0 10px;
  text-align: center;
}

header h3{
  padding: 10px 10px 0 10px;
  text-align: center;
}

nav{
  background-color: #d4a108;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul{
  list-style-type: none;
  position: relative;
}

nav ul li{
  float: left;
}

nav ul li:hover > ul {
  display: block;
}

nav> ul::after {
  content: "";
  display: block;
  clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li a{
  text-align: center;
  color: #161925;
  display: block;
  text-decoration: none;
  background-color: #d4a108;
  width: 450px;
  padding: 1em 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul li a:hover{
  color:#1b5e28;
}

main{
  width: 75%;
  border-radius: 25px;
  background-color: #f2dfbf;
  padding: 20px;
  margin: auto;
  margin-top: 2.5%;
}

#generator{
  text-align: center;
  background-color: #d4a108;
  width: 50%;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
}

button{
  background-color: #1b5e28;
  color:#f2dfbf;
  border: #161925;
  border-style: outset;
  font-family: "Sedan", serif;
  margin: 5px;
}

footer{
  background-color: #1b5e28;
  color:#f2dfbf;
  text-align: center;
  clear: both;
  width: 100%;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 2.5%;
}

/*.App-link {
  color: #61dafb;
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
